<div id="<%= dom_id estudiante %>">
  <p>
    <strong>Nombres:</strong>
    <%= estudiante.nombres %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= estudiante.apellidos %>
  </p>

  <p>
    <strong>Carrera:</strong>
    <%= estudiante.carrera %>
  </p>

  <p>
    <strong>Carnet:</strong>
    <%= estudiante.carnet %>
  </p>

</div>
